{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "prefer-spread": 0,
    "comma-dangle": ["error", "never"]
  }
}
